fastapi
uvicorn
pydantic
boto3
PyPDF2
pymupdf
starlette
python-multipart
python-jose
passlib
bcrypt
pandas
python-dotenv
email-validator
psycopg2-binary
anthropic
logging
mangum
jinja2