/* General Styles */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
  }
  
  
  .header {
    background-color: #007acc;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .content {
    padding: 40px;
    max-width: 900px;
    margin: auto;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .hero img {
    max-width: 65%;
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  /* Button Styles */
  button {
    background-color: #009938;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #004270;
    transform: scale(1.05);
  }
  
  /* Form Styles */
  .form-container {
    background-color: #e3f2fd;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  textarea, input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  textarea {
    height: 120px;
    resize: none;
  }
  
  #response-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  /* Status Styles */
  .status {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #005f99;
  }
  
  /* Options Section */
  .options {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: #333;
}

#agree-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#agree-button:hover {
    background-color: #0056b3;
}
